services:
  database:
    image: postgres:17
    restart: always
    container_name: database
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - sabia_network

volumes:
  postgres_data:

networks:
  sabia_network:
    driver: bridge